.footer {
  background-color: #111;
  color: #fff;
  padding: 30px;
  text-align: center;
  margin-top: 40px;
}

.footer h3 {
  margin-bottom: 10px;
  color: #ffcc00;
}

.footer p {
  font-size: 14px;
  color: #ccc;
}

.footer-info p {
  margin: 5px 0;
}

.copyright {
  margin-top: 15px;
  font-size: 13px;
  color: #888;
}
