.navbar {
  background-color: #111;
  padding: 15px;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #ffcc00;
}
.admin-link {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.admin-link:hover {
  text-decoration: underline;
}

